<?php

$baseurl = "http://localhost/kolabportal/";  // base url

// db settings

$hostdb = "";  // MySQl server
$userdb = "";  // MySQL user
$passdb = "";  // MySQL password
$namedb = "";  // MySQL database name

// ldap settings

$hostldap = ''; // Ldap host
$portldap = ''; // Ldap host
$userldap = ''; // Ldap user
$passldap = ''; // Ldap password

$memberouldap = 'ou=members,dc=internal,dc=ko-lab,dc=space'; // Ldap user
$oldmemberouldap = 'ou=oldmembers,dc=internal,dc=ko-lab,dc=space'; // Ldap user





?>